<div class ="container">
  Seleccione cliente:
  <select [(ngModel)]="dni" (change)="cargarCuentasCliente()">
    <option *ngFor="let c of clientes" value="{{c.dni}}">{{c.nombre}}</option>
  </select>

  <br><br>
  <select [(ngModel)]="numeroCuenta" (change)="cargarMovimientosCuenta()">
    <option *ngFor="let c of cuentas" value="{{c.numeroCuenta}}">{{c.numeroCuenta}}</option>
  </select>
  <br><br>
  <table border="1"><thead><tr><th>Operación</th><th>Fecha</th><th>Cantidad</th></tr></thead>
    <tbody >
      <tr *ngFor="let m of movimientos">
        <td>{{m.operacion}}</td><td>{{m.fecha}}</td><td>{{m.cantidad}}</td>
      </tr>
    </tbody>

  </table>
</div>
